!!!
html(lang="en")
	head
		title Linstapaper
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="description", content="Linstapaper = Jeremy Lin + Instapaper.") 
		meta(name="keywords", content="jeremy lin, jeremy lin instapaper, linstapaper, instapaper, jeremy lin articles") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")
		link(rel="stylesheet", href="linstapaper.css")
	body
		h1 
			span.orange #lin
			span.blue stapaper
		- articles.sort(function(a,b) { return b.stamp - a.stamp })
		- for (var i = 0; i < articles.length; i++)
			- article = articles[i]
			.article
				.hed 
					a.article-link(href=article.url)= article.hed 
				.dek= article.dek
				.info
					.auth= "By " + article.auth
					.pub= article.pub
					.date= article.date
				iframe.instapaper(src="http://www.instapaper.com/e2?url=" + encodeURIComponent(article.url) + "&title=" + encodeURIComponent(article.hed) + "&description=" + encodeURIComponent(article.dek), scrolling="no", frameborder=0, allowtransparency="true")
		.about A punoriginal project by <a href="http://www.jsvine.com">Jeremy Singer-Vine</a>. Tweet suggestions / complaints / insults at <a href="http://www.twitter.com/jsvine">@jsvine</a>. <a href="https://github.com/jsvine/linstapaper">Open-sourced on GitHub</a>.
